timetta:
  credentials:
    email: "#####"
    password: "#####"
  settings:
    dateFrom: "2022-04-01" #YYYY-MM-DD
    dateTo: "2022-04-30" #YYYY-MM-DD
    documentDate: "2022-18-05" #YYYY-MM-DD
projects:
  project_guid1: "client_name1"
  project_guid2: "client_name2"
categories:
  Peter Parker: "Inventing bicycle"
  John Cena: "Drinking cocktails"